---
layout: default
Title: The Basho Blog
---


<div id="summary">
   <ul class="posts">
      {% for post in paginator.posts %}
      <li class="post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="date">Posted on {{ post.date | date: '%B' }} {{ post.date | date: '%d' }}</p>
        <div class="clear"></div>
        <div class="post-body">{{ post.summary }}</div>
        <div class="clear"></div>
      </li>
      {% endfor %}
  </ul>
  <div id="pager">
    {% if paginator.page == 2 %}<a href="/">Previous</a> |
    {% elsif paginator.page > 2 %}<a href="/page{{paginator.previous_page}}/index.html">Previous</a> | {% endif %}
    Page {{paginator.page}} of {{paginator.total_pages}}
    {% if paginator.page < paginator.total_pages %} | <a href="/page{{paginator.next_page}}/index.html">Next</a>{% endif %}
  </div>
</div>
