---
layout: default
---

        {{ content }}

      <script type="text/javascript">
        {% if page.disqus_url %}
          var disqus_url="{{ page.disqus_url }}"
        {% else %}
          var disqus_url="http://recap.basho.com{{ page.id }}/"
        {% endif %}
      </script>
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="http://disqus.com/forums/recap-blog/embed.js"></script>
      <noscript>
        <a href="http://disqus.com/forums/recap-blog/?url=ref">
          View the discussion thread.
        </a>
      </noscript>
      <a href="http://disqus.com" class="dsq-brlink">
        blog comments powered by <span class="logo-disqus">Disqus</span>
      </a>
